/*
css style sheet template for a dynamc webpage
contains:
-heading/ banner 
-horizonatal navigation bar
-3 columns in body
-footer 
*/

/*
@import section for google fonts 
https://fonts.google.com/
*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');


html {
    height: 98.5vh;
    width: 98.5vw;
    min-width: 400px;
    min-height: 600px;
}


body {
    height: 100%;
    width: 100%;
    min-width: 400px;
    min-height: 600px
}

/*Banner section 
-logo
- company name
-nave bar*/

.Header {
    display: grid;
    grid-template-columns: 1fr 3fr 7fr 1fr;
    grid-template-rows: auto;
    grid-row: 95%;
    max-height: 10%;
    width: 100%;
    background-color: aqua;
    font-size: 150%;
    font-family: 'Dancing Script', cursive;
    text-align: left;
    justify-content: left;
}

.Banner {
    display: flex;
    flex-wrap: wrap;
    max-height: fit-content;
    font-size: 0.9em;
    font-weight: 100;
}

.Logo {
    height: 100%;
    background: url(images/logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.NavBar {
    background-color: blue;
    max-height: 100%;
}

.NavLink {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;

}

.nav {
    font-size: 1em;
    color: black;
    text-decoration: none;

}

.nav:hover {
    color: red !important;
    font-size: 1.2em;
    font-weight: 900;
}
/*END OF BANNNER*/

/*start of main content
three columns
-link bar
-main content
- showcase / news
*/

.MainBodyContainer {
    display: grid;
    grid-gap: 0.2%;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 5fr;
    height: 80%;
    overflow: hidden;
    overflow: auto;
    background-color: brown;
   
}

/*start of left column*/

.LeftColumn {
    justify-content: left;
    overflow: hidden;
    overflow: auto;
    height: 100%;
    background-color: pink;
}
.leftcolumnsection{
    /*place holder for now*/
}
.leftLink{
    list-style: none;
}

.Llink{
    text-decoration: none;
    font-size: 1em;
    text-align: left;
    color: black;
}
.Llink:hover{
    font-size: 1.5em;
}
/*End of left column*/

/*start of main column*/

.MidColumn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    overflow: auto;
    height: 100%;
    background-color: red;
}

.textHeader{
    font-size: 2em;
    text-align: left;
}
.textcontent{
    font-size: 1em;
    text-align: center;
}

/*end of main column*/
/*start of right column*/
.RightColumn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
    overflow: hidden;
    overflow: auto;
    height: 100%;
    background-color: purple;

}

.showcase{
    height: 6em;
    width: auto;
    border: solid;
    border-color: black;
    border-width: 2px;
    margin-bottom: 10%;
  
}
.showcase:hover{
    height:+25%;

}
/*end of right column*/

/*end of main body content*/

/*start of footer*/
.footer {
    width: 100%;
    height: 15%;
    background-color: orange;
}

.FootLink {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    list-style: none;
}

.link {
    padding: 0.1%;
    text-decoration: none;
    font-size: small;
    color: black;
}

.link:hover {
    font-size: medium;
    color: black;
}

/*End of footer*/